<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Offerte Speciali</title>
</head>

<body>

    <div class="container" th:object="${pizza}">
        <section class="row">
            <div class="col-12">

                <h1 class="py-4 mb-2 text-center">offerta Speciale [[${offertaSpeciale.getPizza().getTitolo()}]]</h1>
                <div class="row justify-content-center">
                    <div class="col-12">

                        <form id="pizza-form"
                            th:action="${edit} ? @{/offerte/edit/{id}(id = offertaSpeciale.id)} : @{/offerte/create}"
                            th:object="${offertaSpeciale}" method="post">

                            <!--input non visibile. Nascondo dalla visualizzazione i dati della pizza-->
                            <input type="hidden" th:field="*{pizza}" id="linked-pizza">

                            <div class="mb-3">

                                <label for="data-inizio">Data d'inizio</label>
                                <input type="date" class="form-control" id="data-inizio" th:field="*{dataInizio}"
                                    th:errorClass="is-invalid">

                                <div class="invalid-feedback" th:if="${#fields.hasErrors('dataInizio')}">
                                    <ul>
                                        <li th:each="${#fields.errors('dataInizio')}" th:text="${error}"></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mb-3">

                                <label for="data-fine">Data di fine</label>
                                <input type="date" class="form-control" id="data-fine" th:field="*{dataFine}"
                                    th:errorClass="is-invalid">

                                <div class="invalid-feedback" th:if="${#fields.hasErrors('dataFine')}">
                                    <ul>
                                        <li th:each="${#fields.errors('dataFine')}" th:text="${error}"></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mb-3 d-flex justify-content-between">
                                <input type="submit" class="btn btn-primary" value="crea un'offerta">
                                <input type="reset" class="btn btn-warning" value="resetta l'offerta">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="~{fragments/resources :: scripts}"></div>

</body>

</html>