<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Create</title>
</head>

<body>
    <div class="container">
        <div class="row" th:object="${pizza}">
            <div class="col-12">
                <h1 class="text-center p-4">Aggiungi una nuova pizza al menu</h1>
                <div class="row justify-content-center">

                    <!--Creo il form-->
                    <form th:action="@{/pizze/create}" th:object="${pizza}" method="post">

                        <!--Creo i vari input-->
                        <div class="mb-3">
                            <label for="nome">Nome</label>
                            <input type="text" placeholder="Inserisci il nome della pizza" id="nome"
                                class="form-control" th:field="*{nome}" th:errorClass="is-invalid">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}">
                                <ul class="list-unstyled">
                                    <li th:each="error : ${#fields.errors('nome')}" th:text="${error}"></li>
                                </ul>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>